.field-container {
    margin: 60px auto 0;
    text-align: center;
}

.field {
    width: 500px;
    height: 50px;
    border: 4px solid black;
    margin: 0 auto 10px;
}

input {
    margin: 15px auto;
    width: 400px;
    height: 25px;
}

.button-ali {
    display: flex;
    justify-content: center;
}